/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset */

.calendario{
  list-style: none;
}
.calendario li{
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  word-wrap: break-word;
  float:left;
  padding: 5px;
}
.rosso{
  color: red;
}
button{
  margin: 10px 0;
  padding: 5px;
  line-height: 13px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid grey;
}
